// Colot pallet variable

$primary: #ed6a5a;
$secondary: #f4f1bb;
$tertiary: #b1d3cf;
$quaternary: #e6ebe0;
$quinary: #36c9c6;

$primary-acc: #42e1ed;
$secondary-acc: #7a60a8;
$tertiary-acc: #876564;
$quaternary-acc: #98779e;
$quinary-acc: #c98f2c;

$black: #333;
$white: #fff;
