// Importing the fonts from google fonts

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Setting basic variables for headings and text

$font-main: "Lato", sans-serif;
$font-text: "Montserrat", sans-serif;

// basic values for headings and paragprahs

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-main;
}

h1 {
  font-size: 70px;
}

p {
  font-family: $font-text;
}
