// Button Variables

.btn {
  padding: 15px;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  min-width: 115px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 50px;
}

.btn:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
